.jumbotron, .row{
	text-align: center;
}
.logo{
	width: 160px;
}
.btn{
	background-color: #F5F5F5;
	color: #6699FF;
}
.jumbotron{
	background-color: white;
}
body{
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	background-color: #070707;
}
.top{
	text-decoration: underline;
}
.row{
	margin-top: 40px;
}
.name{
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
}
form{
	margin-top: 20px;
}
.selfie{
	margin-top: 20px;
}
h3, h4, p{
	text-align: center;
	color: #6699FF;
}
.form-group, .checkbox, .submit, .navbar-nav{
	color: #6699FF;
}
.section{
	border-radius: 10px;
	border-color: white;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-width: 15px;
    margin: 10px;
	padding: 15px;
	color: white;
	background-color: #C8C8C8 ;
}
.navbar {
	background-color: #070707;
	color: #6699FF;
}
i.form-control{
	background-color: #C8C8C8;
}
